{% extends "layout.html" %}

{% block title %}
All Chai Pages
{% endblock %}

{% block content %}

<h2 class="text-4xl font-bold text-center my-8">
    All Chai Are Available
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">

    {% for chai in chais %}
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transition duration-300">

        <img src="{{ chai.image.url }}"
             alt="{{ chai.name }}"
             class="w-full h-64 object-cover">

        <div class="p-4">
            
            <a href="{% url 'all_details' chai.id %}">
             <button
                class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600 transition">
                {{ chai.get_type_display }} - {{ chai.id }}
            </button>
            </a>

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}